/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./public/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.demo-card-image.mdl-card {
  width: 100px;
  height: 100px;
  background-color: #607d8b;
  min-height: initial;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform .1s ease-in;
}

.demo-card-image.mdl-card:hover{
  transform: scale(1.1);
}

.demo-card-image.mdl-card > .mdl-card__title {
  color: #fff;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
}

.page-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
